.mainPageButton {
    border: 1px solid black;
    margin-top: 15%;
    padding: 25%;
    align-content: center;
    color: var(--main-text-color);
    background-color: var(--main-background-color);
    cursor: pointer;
}